<!DOCTYPE html>
<html xmlns:th="http://www.thyeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table>
	<tr>
	<th>Name</th>
	<th>Role</th>
	<th>Email</th>
	</tr>
	<tr th:each="user:${user}">
	<td th:text="${user.name}"></td>
	<td th:text="${user.role}"></td>
	<td th:text="${user.email}"></td>
	<td>
	<a href="" th:if="${user.role}=='Admin'">delete</a>
	<a href="" th:if="${user.role}=='Admin'">update</a>
	<a href="" th:unless="${user.role}=='Admin'">view</a>
	</td>
	</tr>
	
	</table>
	
	<h3>second table with serial number</h3>
	<table>
	<tr>
	<th>Number</th>
	<th>Index</th>
	<th>First</th>
	<th>Last</th>
	<th>Even</th>
	<th>Odd</th>
	<th>Name</th>
	<th>Role</th>
	<th>Email</th>
	</tr>
	<tr th:each="user, stat:${user}">
	
	<th th:text="${stat.count}"></th>
	<td th:text="${stat.index}"></td>
	<td th:text="${stat.first}"></td>
	<td th:text="${stat.last}"></td>
	<td th:text="${stat.even}"></td>
	<td th:text="${stat.odd}"></td>
	<td th:text="${user.name}"></td>
	<td th:text="${user.role}"></td>
	<td th:text="${user.email}"></td>
	
	</tr>
	
	</table>
</body>
</html>